<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Cadastro</a></li>
        </ul>
      </nav>
    <h1>aqui vai o seu perfil</h1>
</body>
</html>

<style>
     nav {
      display: flex;
      justify-content: center;
      background-color: #04346c;
      padding: 20px;
    }


    nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    nav li {
      display: inline-block;
      margin-right: 20px;
    }

    nav a {
      text-decoration: none;
      color: white;
    }
</style>