<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tela de Cadastro</title>
  </head>
<body>
    <div class="imagem-fundo"></div>
    <nav>
      <ul>
        <li><a href="/login">Login</a></li>
        <li><a href="/">Home</a></li>
      </ul>
    </nav>
  <div class="container">
    <div class="login-form">
      <h1>Faça seu cadastro</h1>
      <form method="post">

        <label for="nome">Nome completo</label>
        <input type="text" id="nome" name="nome" required> 
    
        <label for="email">Email:</label>
        <input type="" id="email" name="email" required>

        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="senha" required>

        <button class="botao" type="submit">Realizar cadastro</button>
      </form>
    </div>
  </div>
</body>
</html>

<style>

    body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        background-color: rgb(221, 121, 27);
        
      }
    
      
   
      input {
        display: flex;
        flex-direction: column;
        width: 90%;
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 20px;
      }
    
      button {
        width: 300px;
        height: 50px;
        margin-top: 10px;
        cursor: pointer;
        background-color: yellow;
        border-radius: 10px;
      }
    
      .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    
      }
    
      label {
        color: white;
        display: flex;
        padding: 5px;
        justify-content: center;
      }
      
      h1 {
        margin-top: 70%;
        color: white;
      }
    
      .imagem-fundo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(/views/image.png);
        background-size: 70%;
        padding: 10px;
        background-position: center;
        background-repeat: no-repeat;
        z-index: -1;
      }
      nav {
      display: flex;
      justify-content: center;
      background-color: #04346c;
      padding: 20px;
    }

    nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    nav li {
      display: inline-block;
      margin-right: 20px;
    }

    nav a {
      text-decoration: none;
      color: #000;
      color: white;
    }
    </style>

